#titulo {
    font: 3em/0.4 Times, Helvetica, sans-serif;
    color: teal;
    }

.rojita{
    color: red;
}

.destacado{
    color: orange;
}

p { font: 1.42em/1.3 Times, Helvetica, sans-serif; }

#subtitulo {
    font: 2.20em/0.4 Times, Helvetica, sans-serif;
    color: blue;
    }

caption {
        font: 1.20em/0.4 Times, Helvetica, sans-serif;
        color: blue;
        }
a{
  color: red;
}

.sub {
  color: blue;
}

.moradita{
  color: purple;
}

.especial{
  font: 1.20em/0.4 Times, Helvetica, sans-serif;
  color: orange;
}

.verde{
  font: 1.20em/0.4 Times, Helvetica, sans-serif;
  color: green;
}

em{
  color: green;
}

.ro{
  font: 1.20em/0.4 Times, Helvetica, sans-serif;
  color: red;
}

#adicional{
  font: 1.03em/0.4 Times, Helvetica, sans-serif;
  color: olive;
}

#especial{
  color: fuchsia;
}

.ver{
  color: green;
}
